<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <!--skip-->
    <title>ВидеоЧат</title>
    <link rel="stylesheet" type="text/css" href="../public/easyrtc/easyrtc.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/landing.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/demo_audio_video_simple.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/prettify.css" />
    <link rel="stylesheet" type="text/css" href="../public/css/foundation.css" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="roulette.html">Рулетка )</a></li>
            <li><a href="conference.html">Конференция с друзьями</a></li>
            <li><a href="facebook-roulette.html">Рулетка через Facebook</a></li>
        </ul>
    </nav>
</header>
<main></main>
<footer></footer>
</body>
</html>